@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{

    <section class="bg-beige position-relative">
        <div class="breadcrumb-container container">
            <div class="d-flex">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a class="breadcrumb" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                }
                <a class="breadcrumb fw-bolder">@Model.Name</a>
            </div>
            <h3 class="title-xl">@Model.Value("pageTitle")</h3>
        </div>

        <img class="bg-decor-bottomleft" src="~/images/Background-effects/breadcrumbSwirl.svg" alt="">
    </section>
}