@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <footer>
        <div class="bg-blue position-relative">
            <div class="footer container">
                <a class="footer-logo">
                    <img src="~/images/Logotypes/Logolight.svg" alt="Crito" width="150px">
                    <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </a>
                <div>
                    <a class="footer-title">Company</a>
                    <ul class="footer-link">
                        <li><a class="footer-text" href="#">About</a></li>
                        <li><a class="footer-text" href="#">Features</a></li>
                        <li><a class="footer-text" href="#">Works</a></li>
                        <li><a class="footer-text" href="#">Career</a></li>
                    </ul>
                </div>
                <div>
                    <a class="footer-title">Help</a>
                    <ul class="footer-link">
                        <li><a class="footer-text" href="#">Customer Support</a></li>
                        <li><a class="footer-text" href="#">Delivery Details</a></li>
                        <li><a class="footer-text" href="#">Terms & conditions</a></li>
                        <li><a class="footer-text" href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <a class="footer-title">Resources</a>
                    <ul class="footer-link">
                        <li><a class="footer-text" href="#">Free eBooks</a></li>
                        <li><a class="footer-text" href="#">Development Tutorial</a></li>
                        <li><a class="footer-text" href="#">How To - Blog</a></li>
                        <li><a class="footer-text" href="#">Youtube Playlist</a></li>
                    </ul>
                </div>
                <div>
                    <a class="footer-title">Link</a>
                    <ul class="footer-link">
                        <li><a class="footer-text" href="#">Free eBooks</a></li>
                        <li><a class="footer-text" href="#">Development Tutorial</a></li>
                        <li><a class="footer-text" href="#">How To - Blog</a></li>
                        <li><a class="footer-text" href="#">Youtube Playlist</a></li>
                    </ul>
                </div>
            </div>
            <img class="bg-decor-bottomright" src="~/images/Background-effects/footer-swirl.svg" alt="">

            <hr class="footer-text m-0 ">
        </div>
        <div class="bg-blue">
            <div class="container footer-social-container py-4">
                <p class="footer-text m-0 footer-crito-rights">© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>

                <div class="footer-social">
                    <a class="footer-text" href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a class="footer-text" href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a class="footer-text" href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a class="footer-text" href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>            
            </div>
        </div>
    </footer>