@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="position-relative">
        <div class="get-news-form-container container">
            <h5 class="title-m get-news-title">Get News Updates By Signup</h5>

            <form class="get-news-form">
                <input class="get-news-email" placeholder="username@domain.com">
                <button type="submit" class="btn orange-btn">Subscribe<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
            </form>
        </div>
        <img class="bg-decor-bottomright" src="~/images/Background-effects/SignupSwosh.svg">
    </section>