@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks;

    <section class="container features">
        <div class="features-info">
            <p class="tag">Features</p>
            <h3 class="title-m my-md-3">@Model.Value("featureTitle")</h3>
            <a href="@Model.Value("featuredButtonLink")" class="btn orange-btn mt-md-2">Learn more<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></a>
        </div>

        @if (Model.HasValue("featureCardSection"))
        {
            var featureCards = Model.Value<IEnumerable<BlockListItem>>("featureCardSection");
            if (featureCards is not null && featureCards.Any())
            {
                foreach (var card in featureCards)
                {
                    string extractedText = "";
                    string inputText = card.Content.Value<string>("featureCardIcon")!;
                    string pattern = "\"(.*?)\"";
                    System.Text.RegularExpressions.Match match = System.Text.RegularExpressions.Regex.Match(inputText, pattern);
    
                    if (match.Success)
                    {
                        extractedText = match.Groups[1].Value;
                    }
                        
                    <div class="service-info-cards">
                        <i class="@extractedText service-card-icon"></i>
                        <h5 class="service-card-title">@card.Content.Value("featureCardTitle")</h5>
                        <p class="service-card-info">@card.Content.Value("featureCardTeaser")</p>
                    </div>
                }
            }        
        }
    </section>