@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="services position-relative">
    <div class="container service-grid">
        <p class="tag service-grid-1">Our Services</p>
        <h1 class="title-m service-grid-2">@Model.Value("ourServicesTitle")</h1>
        
        <a href="#" class="service-info-cards hover-card-orange service-grid-3">
            <i class="service-card-icon fa-light fa-horizontal-rule"></i>
            <h5 class="service-card-title">Business Advice</h5>
            <p class="service-card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
            <button class="round-btn dark-btn"><i class="fa-light fa-arrow-right"></i></button>
        </a>
        
        <a href="#"  class="service-info-cards hover-card-orange service-grid-4">
            <i class="service-card-icon fa-light fa-horizontal-rule"></i>
            <h5 class="service-card-title">Startup Business</h5>
            <p class="service-card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
            <button class="round-btn dark-btn"><i class="fa-light fa-arrow-right"></i></button>
        </a>

        <a href="#"  class="service-info-cards hover-card-orange service-grid-5">
            <i class="service-card-icon fa-light fa-horizontal-rule"></i>
            <h5 class="service-card-title">Financial Advice</h5>
            <p class="service-card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
            <button class="round-btn dark-btn"><i class="fa-light fa-arrow-right"></i></button>
        </a>

        <a href="#"  class="service-info-cards hover-card-orange service-grid-6">
            <i class="service-card-icon fa-light fa-horizontal-rule"></i>
            <h5 class="service-card-title">Risk Management</h5>
            <p class="service-card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
            <button class="round-btn dark-btn"><i class="fa-light fa-arrow-right"></i></button>
        </a>
        
        <a href="/service/" class="btn light-btn service-grid-7">Browse Services <span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></a>    
    </div>
    <img class="bg-decor-bottomright" src="~/images/Background-effects/ServicesSwirls.svg">
</section>