@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="projects container">
    <div class="projects-title">
        <p class="tag">Project & Case Studies</p>
        <h3 class="title-m">Let's Look At Our Global Projects</h3>
    </div>
    
    
    @*<div class="project-card-container">
        <a href="#" class="project-card">
            <img class="project-card-img" src="./assets/img/GrowBusiness.svg" alt="" width="600px">
            <h5 class="title-s project-card-title">Grow your Business</h5>
            <hr class="project-card-line">

            <div class="project-card-btn">
                <button class="no-btn btn">Learn More<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
            </div>
        </a>
        <a href="#" class="project-card">
            <img class="project-card-img" src="./assets/img/ResponsiveWebsite.svg" alt="" width="600px">
            <h5 class="title-s project-card-title">Why your client needs a responsive website</h5>
            <hr class="project-card-line">

            <div class="project-card-btn">
                <button class="no-btn btn">Learn More<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
            </div>
        </a>
        <a href="#" class="project-card">
            <img class="project-card-img" src="./assets/img/EducateEmployees.svg" alt="" width="600px">
            <h5 class="title-s project-card-title">Educate your employees to get better results</h5>
            <hr class="project-card-line">

            <div class="project-card-btn">
                <button class="no-btn btn">Learn More<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
            </div>
        </a>
        <a href="#" class="project-card">
            <img class="project-card-img" src="./assets/img/BusinessInsights.svg" alt="" width="600px">
            <h5 class="title-s project-card-title">Business Insights is a important piece of your business</h5>
            <hr class="project-card-line">

            <div class="project-card-btn">
                <button class="no-btn btn">Learn More<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
            </div>
        </a>
    </div>*@
    
    
    <div class="project-btn">
        <a href="" class="btn dark-btn">All Recent Projects<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></a>
    </div>
</section>