@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
	var selection = Umbraco.Content(Guid.Parse("93a216bf-89bc-4b3b-939b-a16ee6c8a594"))
    .ChildrenOfType("projectItemPage")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(4);
}


<section class="projects container">
    <div class="projects-title">
        <p class="tag">Project & Case Studies</p>
        <h3 class="title-m">Let's Look At Our Global Projects</h3>
    </div>
    
    
    <div class="project-card-container">
        @foreach(var item in selection){
            var image = item.Value<MediaWithCrops>("projectImage");

            <div href="@item.Url()" class="project-card">
                <img class="project-card-img" src="@image.MediaUrl()" alt="" width="600px">
                <h5 class="title-s project-card-title">@item.Name</h5>
                <hr class="project-card-line">

                <div class="project-card-btn">
                    <a href="@item.Url()" class="no-btn btn">Learn More<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></a>
                </div>
            </div>
        }
    </div>
    
    
    <div class="project-btn">
        <a href="/news" class="btn dark-btn">All Recent Projects<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></a>
    </div>
</section>