@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="bg-orange pb-2">
    <div class="testimonial container">
        <div class="testimonial-title">
            <p class="tag">Testimonial</p>
            <h3 class="title-m">What Our Client Says</h3>
        </div>
        <div class="testimonial-card-container">
            <div class="testimonial-card">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="client-review">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="client-info" class="client-info">
                    <img class="client-info-img" src="~/images/Customers/CassandraW.svg" alt="" height="70px">
                    <div class="client-info-text">
                        <h5 class="title-s">Cassandra Warren</h5>
                        <p class="tag">Business Manager, Dorfus</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="client-review">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="client-info" class="client-info">
                    <img class="client-info-img" src="~/images/Customers/AmandaT.svg" alt="" height="70px">
                    <div class="client-info-text">
                        <h5 class="title-s">Amanda Tulling</h5>
                        <p class="tag">Senior Developer, square</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="client-review">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                <div class="client-info" class="client-info">
                    <img class="client-info-img" src="~/images/Customers/JackM.svg" alt="" height="70px">
                    <div class="client-info-text">
                        <h5 class="title-s">Jack McDogglas</h5>
                        <p class="tag">Key Account Manager, Gobona</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn dark-btn my-3 my-lg-4">All Reviews<span class="mx-1"></span><i class="fa-light fa-arrow-up-right align-self-center"></i></button>
    </div>
</div>