@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <section class="map-container">
        <iframe class="map" src="@Model.Value("googleMapsUrl")" 
         loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>